<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.listeners.Testinfo"></listener>
		<listener class-name="com.listeners.AnnotationListerners"></listener>
	</listeners>
  <test  name="Run on Chrome" thread-count="5" parallel="classes" >
	  <parameter name="Browser" value="Chrome"></parameter>
    <classes>
		  <class name="com.tests.Login"/>
		    <class name="com.tests.PIM"/>   
         <class name="com.tests.Admin"/>
<!--<class name="com.tests.test">-->

<!--</class>-->
    </classes>
</test>

</suite>
		